:host {
  .conheader {
    text-align: center;
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    padding: 15px;
  }

  h2,
  p {
    color: var(--ion-color-primary);
  }
  .desc{
    margin:10px 15px 0px 15px !important;
  }

  ion-footer{
    text-align: center;
  }


}