<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Asset Overview</ion-title>
    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="more"></ion-icon>
      </ion-button>
      <ion-button>
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="conheader">
    <h1> {{info.name}}</h1>
    <label>{{info.slug}}</label>
  </div>
  <ion-item color="primary">
    Price per unit <label slot="end"> {{info.pricePerUnit}} CHF</label>
  </ion-item>
  <ion-item color="primary">
    Total units <label slot="end"> {{info.totalUnits}}</label>
  </ion-item>
  <ion-item color="primary">
    Total amount <label slot="end"> {{info.pricePerUnit * info.totalUnits}} CHF</label>
  </ion-item>
  <!-- </ion-list> -->
  <div class="desc" *ngFor="let item of info.info; let i = index ">
    <h3>{{item.title}}</h3>
    <p [hidden]="item.body==null">
      {{item.body}}
    </p>
  </div>

</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button color="danger" fill="outline">
          SELL
        </ion-button>
      </ion-col>
      <ion-col>
        <buy-button [info]="info" (getInfo)="getInfo($event)"></buy-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>