<ion-list inset="false" lines="full" class="ion-padding">

  <ion-item lines="none" style="margin: -10px !important; padding:0px !important;">
    <ion-button slot="end" fill="clear" size="medium" (click)="closeModal()">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item>
    <ion-label>Trade</ion-label>
    <ion-select>
      <ion-select-option value="buy" selected>Buy</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">
            Quantity
          </ion-label>
          <ion-input type="number" [(ngModel)]="quantity"></ion-input>
        </ion-item>
      </ion-col>

      <ion-col>
        <ion-item>
          <ion-label position="floating">
            Quantity
          </ion-label>
          <ion-input [disabled]="true" [value]="info.pricePerUnit*quantity"></ion-input>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>


  <ion-item>
    <ion-label>Order Type</ion-label>
    <ion-select>
      <ion-select-option value="buy" selected>Market</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>Validity</ion-label>
    <ion-datetime value="2-22-2020" placeholder="Select Date"></ion-datetime>
  </ion-item>

  <br /> <br />
  <ion-button expand="block" (click)="addItem()">
    Preview
  </ion-button>

</ion-list>